# Review Homework 0919

## Question 1 (3 points)

Write a number guessing game that asks a user to pick a number from 0 to 5. You as the programmer can pick the correct number. If the user gets the guess wrong, they are prompted again until they answer correctly. If the user guesses correctly, then the code will print "Correct!"

In [ ]:
def guess():
    num = input('Pick a number between 1 and 5: ')
    num = int(num)
    # or combine the previous 2 lines with 
    # num = int(input('Pick a number between 1 and 5: '))
    
    if num == 4:
        print('Good guess!')
    else:
        print('Incorrect!')
        guess()

**Test**

In [ ]:
guess()

## Question 2 (3 points)

FizzBuzz is a CLASSIC exercise. Write a loop that prints out numbers from 0 to 100, but replaces any number divisible by 3 with "fizz" and any number divisible by 5 with the "buzz". You'll be using the modulo operator we learned at last lecture.

Example output:

```
0
1
2
"fizz"
4
"buzz"
"fizz"
7
```

Extra credit announced in Slack: for numbers that are divisible by both 3 and 5, print "fizzbuzz".

In [ ]:
for n in range(101):
    if n % 3 == 0 and n % 5 == 0: # also good: if n % 15 == 0:
        print('fizzbuzz')
    elif (n % 3 == 0):
        print('fizz')
    elif (n % 5 == 0):
        print('buzz')
    else:
        print(n)

## Question 3 (5 points)

Explain what's wrong with the following code:

```python
def voting_age(x):
    if x = 17:
        return 'Almost there'
    else if x > 18:
        return True
    else
        return 'False'
```

**Possible answers:**
- comparison `x = 17` should be `==`
- and actually the conditional should really be `x >= 18`
- `else if` should be `elif`
- colon missing after `else`
- `False` should not have quotation marks (or `True` should have quotation marks if you want to return strings)

One more thing: it's best to `return` the _same type_ within a function. So how would we do that for `voting_age` but keep the sassy message for 17 year olds?

## Question 4 (3 points)

Write a function `teenager` that tells a user if a given age counts as a teenager.

Example outputs:

```python
>>> teenager(11)
False

>>> teenager(14.2)
True

>>> teenager(19)
True
```

In [ ]:
def teenager(age):
    if age >= 13 and age < 20:
        return True
    else:
        return False
    
# or as a lambda
teenager = lambda age: age >= 13 and age < 20

**Tests**

In [ ]:
teenager(12)

In [ ]:
teenager(12.999)

In [ ]:
teenager(14)

In [ ]:
teenager(14.7)

In [ ]:
teenager(19)

In [ ]:
teenager(19.9)

In [ ]:
teenager(20)

## Question 5 (3 points)
Write a function called `letter_grade` that takes in a number between 0 and 100 and returns a letter grade.

Example outputs:

```python
>>> letter_grade(92)
'A-'

>>> letter_grade(76)
'C'

>>> letter_grade(77)
'C+'
```

In [ ]:
def letter_grade(points):
    if points >= 98:
        return 'A+'
    elif points >= 93:
        return 'A'
    elif points >= 90:
        return 'A-'
    elif points >= 88:
        return 'B+'
    elif points >= 83:
        return 'B'
    elif points >= 80:
        return 'B-'
    elif points >= 78:
        return 'C+'
    elif points >= 73:
        return 'C'
    elif points >= 70:
        return 'C-'
    elif points >= 68:
        return 'D+'
    elif points >= 63:
        return 'D'
    elif points >= 60:
        return 'D-'
    else:
        return 'F'

**Tests**

In [ ]:
letter_grade(92)

In [ ]:
letter_grade(77)

In [ ]:
letter_grade(60)

In [ ]:
letter_grade(59)

## Question 6 (3 points)
Write a function called `parity` that tells us if an argument is odd, even, or neither.

Example outputs:

```python
>>> parity(15)
'odd'

>>> parity(-48)
'even'

>>> parity(14.2)
'not an integer'

>>> parity('not a number!')
'not an integer'
```

In [ ]:
def parity(n):
    if type(n) == float:
        return 'not an integer'
    elif type(n) != int:
        return 'not a number!'
    elif n % 2:
        return 'odd'
    else:
        return 'even'

**Tests**

In [ ]:
parity(2)

In [ ]:
parity(5)

In [ ]:
parity(-2)

In [ ]:
parity(14.2)

In [ ]:
parity('not a number!')