## Cleaning up and 'normalizing' string columns

In [1]:
import pandas as pd
import re # this is python's regex library

## Import data

In [7]:
data = pd.read_csv('newsom_contribs.csv',
    dtype={
        'ID NUMBER' : object
    },
    parse_dates=['TRANSACTION DATE', 'FILED DATE']
)
data

,NAME OF CONTRIBUTOR,PAYMENT TYPE,CITY,STATE,ZIP,ID NUMBER,EMPLOYER,OCCUPATION,AMOUNT,TRANSACTION DATE,FILED DATE,TRANSACTION NUMBER
0,CALIFORNIA CHIROPRACTIC ASSOCIATION PAC,MONETARY,SACRAMENTO,CA,95814,742986,NaN,NaN,-15000.0,2021-09-07,2022-05-20,2625145 - EXP2027
1,MARINA BILAVER,MONETARY,HOLLYWOOD,CA,90028,NaN,NaN,NOT EMPLOYED,10.0,2021-07-01,2022-05-20,2625145 - IDT41416
2,CAMERON BLOOMER,MONETARY,NEW YORK,NY,10010,NaN,BLOOMER BIOTECH,INVESTMENT ADVISOR,100.0,2021-07-01,2022-05-20,2625145 - IDT41417
3,ALISON FLEMMING,MONETARY,LARKSPUR,CA,94904,NaN,COOPER & MCCLOSKEY,INSURANCE BROKER,150.0,2021-07-01,2022-05-20,2625145 - IDT41424
4,WILLIAM FOWKES,MONETARY,LA HONDA,CA,94020,NaN,NaN,NOT EMPLOYED,25.0,2021-07-01,2022-05-20,2625145 - IDT41425
...,...,...,...,...,...,...,...,...,...,...,...,...
23381,"1-800 CONTACTS, INC.",MONETARY,DRAPER,UT,84020,NaN,NaN,NaN,10000.0,2021-12-22,2022-06-06,2644331 - INC3631
23382,"T-MOBILE USA, INC.",MONETARY,BELLEVUE,WA,98006,NaN,NaN,NaN,5000.0,2021-12-22,2022-06-06,2644331 - INC3632
23383,"GOOGLE, LLC AND AFFILIATED ENTITIES",MONETARY,MOUNTAIN VIEW,CA,94043,NaN,NaN,NaN,32400.0,2021-12-27,2022-06-06,2644331 - INC3634
23384,AIRLINES FOR AMERICA,MONETARY,WASHINGTON,DC,20004,NaN,NaN,NaN,10000.0,2021-12-28,2022-06-06,2644331 - INC3642
23385,JOSEPH E. GORST,MONETARY,SAN DIEGO,CA,92103,NaN,NaN,RETIRED,500.0,2021-12-31,2022-06-06,2644331 - INC3650

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23386 entries, 0 to 23385
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME OF CONTRIBUTOR  23386 non-null  object
 1   PAYMENT TYPE         23386 non-null  object
 2   CITY                 23383 non-null  object
 3   STATE                23368 non-null  object
 4   ZIP                  23376 non-null  object
 5   ID NUMBER            149 non-null    object
 6   EMPLOYER             10234 non-null  object
 7   OCCUPATION           23017 non-null  object
 8   AMOUNT               23386 non-null  float64
 9   TRANSACTION DATE     23386 non-null  datetime64[ns]
 10  FILED DATE           23386 non-null  datetime64[ns]
 11  TRANSACTION NUMBER   23386 non-null  object
dtypes: datetime64[ns](2), float64(1), object(9)
memory usage: 2.1+ MB

POLL: If I'm trying to get the count and amount of corporate contributions to Newsom, how would I do this?

## String cleaning

But first, let's talk about regex, or regular expressions.

We'll go through some of the lessons here: https://regexone.com/

In [ ]:
# TK
# df['col'] = df['col'].str.replace(r'[ ]+',' ', regex=True)